body{
    margin: 0px;
    padding: 0px;
    background-color:rgba(133, 11, 11, 0.774);
    }
    .base{
    width: 1050px;
    max-height:1500px;
    float:left;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left:160px;
    }
    .container{
    width:260px;
    height:250px;    
    float:left;
    margin-left: 410px;
    margin-top:25px; 
    }
    .container1{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width:990px;
    height:210px;    
    float:left;
    font-size: 10px;
    text-align: left;
    margin-left: 25px;
    margin-top :-50px;
    }
    .container2{   
    width:495px;
    height:150px;    
    float:left;
    font-size: 10px;
    text-align: left;
    margin-left: 525px;
    margin-top :-165px;
    }
    .container3{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width:990px;
    height:150px;    
    float:left;
    font-size: 10px;
    text-align: left;
    margin-left: 25px;
    margin-top :30px;
    }
    .container4{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width:990px;
    height:170px;    
    float:left;
    font-size: 10px;
    text-align: left;
    margin-left: 25px;
    margin-top :30px;
    }
    .container5{
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width:990px;
    height:400px;    
    float:left;
    font-size: 10px;
    text-align: left;
    margin-left: 25px;
    margin-top :30px;
    }
    .container6{
    width:990px;
    height:1px;    
    float:left;
    font-size: 10px;
    text-align: left;
    margin-left: 25px;
    margin-top :30px;
    }
    